
{{> header}}
    
<div class="bg-long">
    <div class="container">        
        <div class="row">
            {{!-- <h3> Add a question </h3> --}}
            <form action="api/addQuestion/{{this.id}}"  class="col-md-4 col-md-offset-4" method="POST" id="questions-form">
                <label for="newQuestion">Type Your Question:</label>
                <input class="form-control" placeholder="Add a question" type="text" name="newQuestion" />
                <br>
                {{!--<label for="">Is it safe for work? Type your bool!!!</label>
                <input class="form-control SFWbutton" type="number" name="newSfw">--}}
                <label for="">Is this question safe for work?</label>
                <label><input type="radio" name="newSfw" value="1" checked="checked">Yes</label>
                <label><input type="radio" name="newSfw" value="0">No</label>
                <br>


                <button type="submit" class="btn btn-default addQuestionButton">Add Question</button>
                <br>
                <a href="/" class="btn btn-warning backButton">Back</a>
            </form>

        </div>
        
    </div>

</div> 
        
    <div class="container scroll-long">
        <div class="row">
            <h3 class="all-questions-header"> All Questions </h3>

            <ul>
                {{#each userQuestions}}
                    <li class="listed-questions">
                        <form action="/api/userQuestions/{{this.id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <p> Question: {{this.question}}</p>
                            <button class="btn btn-info glyphicon glyphicon-pencil"><a href="/edit/{{this.id}}"></a></button>
                            <button class="btn btn-danger glyphicon glyphicon-remove" type="submit"></button>
                        </form>
                        

                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>




